<div class="module-main" v-if="config">
    <div class="description">
        Sometimes if you turn off fly hack close to surface (1-2 blocks) you can take a lot of fall damage and die (even with No Fall enabled).
        Workaround: before turning off fly hack, fly upwards (even 0.5 seconds can be enough).
        If you move upwards server resets internal fall distance value and sets it to zero.
        If you move downwards for a long time server accumulates fall distance, and that's why you take fall damage.
    </div>

    <div class="module-sections">
        <div>
            <switch-checkbox v-model="config.enabled" @change="update()">Enabled</switch-checkbox>
        </div>

        <fieldset>
            <legend>
                <switch-checkbox v-model="config.overrideFlyingSpeed" @change="update()">Override max speed</switch-checkbox>
            </legend>
            <div class="flex-row">
                <span class="field-description">Flying speed (default 0.05):</span>
                <input type="text" class="w4" v-model="config.flyingSpeed" @change="update()">
            </div>
        </fieldset>

        <fieldset class="flex-column">
            <legend>
                OnGround flag
            </legend>
            <radio name="on-ground" :value="false" v-model="config.onGroundFlag" @change="update()">OnGround = false</radio>
            <radio name="on-ground" :value="true" v-model="config.onGroundFlag" @change="update()">OnGround = true</radio>
            <div class="section-description">
                While flying this module overrides onGround flag in MovePlayerPacket. Both options works fine in vanilla. For Fast Break hack, Disable Fly Penalty option you need to set OnGround = true.
            </div>
        </fieldset>

        <fieldset class="flex-column">
            <legend>
                <switch-checkbox v-model="config.antiKick" @change="update()">Anti-Kick</switch-checkbox>
            </legend>
            <div class="section-description">
                Makes you fall a little bit every now and then to prevent you from getting kicked. Most servers will kick you if you don't move vertically for some time.
            </div>
            
            <div class="flex-row mt-2">
                <span class="field-description">Interval (ticks):</span>
                <input type="range" min="5" max="80" step="1" v-model.number="config.antiKickInterval" @change="update()">
                <span class="ml-2">{{ config.antiKickInterval }}</span>
            </div>
            <div class="section-description small">
                How often Anti-Kick should prevent you from getting kicked. Most servers will kick you after 80 ticks (4 seconds).
            </div>
            
            <div class="flex-row mt-2">
                <span class="field-description">Distance (meters):</span>
                <input type="range" min="0.01" max="0.2" step="0.001" v-model.number="config.antiKickDistance" @change="update()">
                <span class="ml-2">{{ config.antiKickDistance.toFixed(3) }}m</span>
            </div>
            <div class="section-description small">
                How far Anti-Kick should make you fall. Most servers require at least 0.032m to stop you from getting kicked.
            </div>
        </fieldset>
    </div>
</div>